*{ margin :0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
} 
.container{
    background-image: url("./portfoli.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    margin: auto;
}
ul{
    list-style: none;
    float: right;
    margin-top: 30px;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: orange;
    padding: 5px 20px;
    border: 2px solid transparent ;
    transition: 0.6s ease;
    font-size: 25px;
    font-weight: 900;
}
ul li a:hover{
    background-color: orange;
    color:white;
}
ul li .active a{
    background-color: orange;
    color:white;
}
.logo img{
    float:left;
    width: 150px;
    height: auto;
}
.title{
   position: absolute;
   top: 20%;
   left:2%;
}
.title h1{
    color: orange;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
}
p{
    font-size: 25px;
    color: orangered;
    font-weight: 900;
    font-style: normal; 
}
